body {
  width: 220px;
  margin: 10px;
}

table#actions button {
  width: 100%;
  display: inline-block;
  font-family: "Arial";
  font-size: 17px;
  padding: 16px 31px;
}

table#actions button:active {
  position: relative;
  top: 1px;
}

table#actions button img {
  height: 16px;
}
